:root {
   --primary-text-color: #757575;
   --second-text-color: #212121;
   --accent-text-color: #2196F3;
   --accent-text-color-white: #FFFFFF;
   --footer-text-color: #FFFFFF99;
   --back-round-color: #FFFFFF;
   --back-round-color-footer-hero: #2F303A;
   --back-round-color-section: #E5E5E5;
   --back-round-color-team: #F5F4FA;
   --color-icon: #AFB1B8;
   --color-footer-icon-area: rgba(255, 255, 255, 0.1);
   --color-shadow-proects: rgba(0, 0, 0, 0.16);
   --cubic-bazer: cubic-bezier(0.4, 0, 0.2, 1);
   --overlay-color: rgba(33, 150, 243, 0.9);
}