
.backdrop {
   position: fixed;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   background: rgba(0, 0, 0, 0.2);
   opacity: 1;
   transition: opacity 250ms var(--cubic-bazer);


   &.is-hidden {
      opacity: 0;
      pointer-events: none;
   }

   &.is-hidden .modal {
      transform: scale(1.1) translate(-50%, -50%);
   }

}

%absolutely-centered {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: scale(1) translate(-50%, -50%);
}

.modal {
   @extend %absolutely-centered;
   transition: transform 250ms var(--cubic-bazer);
   min-width: 528px;
   min-height: 581px;
   background-color: var(--back-round-color);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;


   &__button-close {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      top: 8px;
      right: 8px;
      background-color: var(--back-round-color);
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      margin: 0;
      padding: 0;
      cursor: pointer;
      color: #212121;
      transition: color 250ms var(--cubic-bazer);

      &:hover {
         color: var(--accent-text-color);
         transition: color 250ms var(--cubic-bazer);
      }
   }

   &__close-icon {
      fill: currentColor;
   }

}