/* features */
.features__title {
   margin-top: 0;
   margin-bottom: 0;
   text-align: center;
   color: var(--second-text-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   visibility: hidden;
}

/* features-list */
.features-list {
   //display:flex;
   //justify-content: center; 
   // display: block;
   @media  screen and (min-width:768px) {
      &{ display: flex;
      flex-wrap: wrap;
      margin: -15px;}
   }
   
   &__item {
   @media screen and (max-width: 767px)  {
      &:not(:last-child) {margin-bottom: 30px;}
   }

   @media screen and (min-width: 768px) {
        &{width: calc((100% - 60px)/2);
               margin: 15px;}
   }

   @media screen and (min-width:1200px) {
   &{width: calc((100% - 120px)/4);
      margin: 15px;}
   } 
}
        
   
      &__title {
         @media screen and (max-width:767px) {
            text-align: center;
         }
         margin-top: 0;
         margin-bottom: 10px;
         color: var(--second-text-color);
         font-weight: 700;
         font-size: 14px;
         line-height: 1.14;
         letter-spacing: 0.03em;
         text-transform: uppercase;
      }
   
      &__text {
         margin-top: 0;
         margin-bottom: 0;
         color: var(--primary-text-color);
         font-weight: 400;
         font-size: 14px;
         line-height: 1.71;
         /* or 171% */
         letter-spacing: 0.03em;
      }

       &__icon {
     // width: 270px;
     height: 120px;
     display: flex;
     justify-content: center;
     align-items: center;
     /* outline: 1px solid red; */
     background-color: var(--back-round-color-team);
     margin-bottom: 30px;
     border-radius: 4px;
  }

}

// &:not(:last-child) {
//       margin-right: 30px;
//    }
 // width: 270px;
 /* features-list__icon */