/* footer */
.footer {
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: var(--back-round-color-footer-hero);

   &__navigation {
         @media screen and (max-width:1199px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: baseline;
            column-gap: 165px;
         }
        @media screen and (min-width:1200px){
           display: flex;
           flex-wrap: nowrap;
           align-items: baseline;
           justify-content: center;
        }
      }
}



/* footer logo */
.logo__footer-accent {
   margin-top: 0;
   margin-bottom: 0;
   color: var(--accent-text-color-white);
}