/* footer */
.footer {
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: var(--back-round-color-footer-hero);

   &__navigation {
         display: flex;
         align-items: baseline;
      }
}



/* footer logo */
.logo__footer-accent {
   margin-top: 0;
   margin-bottom: 0;
   color: var(--accent-text-color-white);
}