.main-nav {
   display: flex;
   align-items: center;

}
/* site-nav */  

.site-nav {
   display: flex;
   margin-left: 93px;


   &__item:not(:last-child) {
         margin-right: 50px;
      }
   
      &__link {
         position: relative;
         display: block;
         padding-top: 32px;
         padding-bottom: 32px;
         color: var(--second-text-color);
         font-weight: 500;
         font-size: 14px;
         line-height: 1.14;
         letter-spacing: 0.02em;
         text-decoration: none;
         transition: color 250ms var(--cubic-bazer);

         &:hover,
         &:focus {
               color: var(--accent-text-color);
               transition: color 250ms var(--cubic-bazer);
            }
      }
   
      /* .link-menu::after */
      &__link::after {
         content: ' ';
         position: absolute;
         width: 100%;
         height: 4px;
         border-radius: 3px;
         left: 0;
         bottom: 0;
         background-color: var(--accent-text-color);
         opacity: 0;
         transition: opacity 250ms var(--cubic-bazer);
      }
   
      &__link:hover::after {
         opacity: 1;
      }
   
      &__link--current::after {
         opacity: 1;
      }
   
      
   
      &__link--current {
         color: var(--accent-text-color);
   
      }

}



/* contacts */

.contacts {
   display: flex;
   align-items: center;
   margin-left: auto;

/* contacts__item */
   &__item:not(:last-child) {
      margin-right: 50px;
   }

   /* contacts__link */
   &__link {
      display: flex;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 32px;
      color: var(--primary-text-color);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;
      transition: color 250ms var(--cubic-bazer);


      &:hover,
      &:focus {
            color: var(--accent-text-color);
      
         }
   }

   /* contacts__icon */
   &__icon {
      fill: currentColor;
      margin-right: 10px;

   &:hover {
      fill: currentColor;
   }

   }

   
}

