.page-header {
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #ECECEC;
   position: relative;

   /* padding-top: 94px;
      padding-bottom: 94px; */

   /* background-color: #cccc; */
}