.send-button {
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: 50px;
   width: 200px;
   color: var(--accent-text-color-white);
   background-color: var(--accent-text-color);
   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   border: 0;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 55px;
   padding-right: 55px;
   line-height: 1.87;
   letter-spacing: 0.06em;
   cursor: pointer;

}