/* social-net list,*/
.social-net {
   display: flex;
   list-style: none;
   // padding-left: 32px;
   // padding-right: 32px;
   padding-bottom: 30px;
   justify-content: center;

   &__link {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 44px;
         height: 44px;
         border-radius: 50% 50%;
         color: var(--color-icon);
         transition: color 250ms var(--cubic-bazer), background-color 250ms var(--cubic-bazer);


         &:hover,
            &:focus {
               transition: color 250ms var(--cubic-bazer), background-color 250ms var(--cubic-bazer);
               color: var(--accent-text-color-white);
               background-color: var(--accent-text-color);
            }
      }
   
      &__icon {
         fill: currentColor;
      }
   
     
}

